{{  text_info_payment_checkout }}
<div class="buttons">
    <div class="pull-right">
        <a href="{{ payment_url }}">
            <button type="button" class="btn btn-primary">
                {{ button_confirm }}
            </button>
        </a>
    </div>
</div>
{{ text_latitude_pay_modal }}